qna.classic.hxlauncher/
contributor.txt
WrongAnswerProcessor.voiceCommandHItDataProcessor/
VoiceShortcutAssociationDataMerge/voiceShortMap.ost
VoiceShortcutAssociationDataMerge/*.pb.rb
VoiceShortcutAssociationDataMerge/*_pb.rb
VoiceCommandHitDataProcessorRuby/*.pb.rb
VoiceCommandHitDataProcessorRuby/*_pb.rb
VoiceCommandHitDataProcessor/
VoiceAssociationDataMerge/voicePackageNameMap.EM.cx
VoiceAssociationDataMerge/voicePackageNameMap.ost
VoiceAssociationDataMerge/voicePackageNameMap.ost.migrate
VoiceAssociationDataMerge/*.pb.rb
VoiceAssociationDataMerge/*_pb.rb
Sh/
SpecialLauncherActivityDiscoverer/
Sql/
TestPagedView/
Tests/
ThirdPartyAndroid/
Ruby/rubbishSmsStatistics.rb
Ruby/signature.p7s.json.sh
.hg/
.hgignore
.hgtags
GirlVoiceTester/
HlConfigurationSubSystem/
HlErrorCodeSubSystem/
HlLicenseSubSystem/
HlLogSubSystem/
HlRpcSubSystem/
HlVersion/
HxLauncher/
HxLauncherApiLevel10/
HxLauncherServerGateWay/
HxLauncherServerRuby/
Issues/
Learn/
ManyLauncherIcons/
Material/
MonkeyRunner/
Note/
ProtoBufMessage/
Ruby/generatePullCommands.rb
/README.md
.directory
Release.0/
VoiceAssociationDataMerge/messageCcontent.messageContnt
build-VoiceCommandHitDataProcessor-qt5-Debug/
